- name: Update apt
  apt:
    update_cache: yes

- name: Install required packages
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present

- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Enable Docker
  systemd:
    name: docker
    enabled: true
    state: started

- name: Add ubuntu to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes

