name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{13.203.30.199}}
          username: ${{ ubuntu }}
          key: ${{ b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACCR9v74czmAzhpL4D2ZJnREcD3Vn+/gS2in5E72eUYqrQAAAKCICrApiAqw
KQAAAAtzc2gtZWQyNTUxOQAAACCR9v74czmAzhpL4D2ZJnREcD3Vn+/gS2in5E72eUYqrQ
AAAEB1MMJfJsPrZlyZV8lp31uu/0LW0h8Gq81WEqgjW9C0kJH2/vhzOYDOGkvgPZkmdERw
PdWf7+BLaKfkTvZ5RiqtAAAAGHVidW50dUBpcC0xNzItMzEtMTQwLTEzNQECAwQF }}
          script: |
            cd project-root
            git pull
            docker compose down
            docker compose build
            docker compose up -d

